# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env
.env.*
.env.production
!.env.example

# Logs
*.log

# Coverage
coverage/

# TypeScript cache
*.tsbuildinfo

# files
.DS_Store
Thumbs.db